@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.navSocial {
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 99;
}
.navSocial.display {
  display: flex;
  transform: translateX(0);
  transition: all 1s;
}
.navSocial.hide {
  transform: translateX(-100%);
  transition: all 1s;
}
.navSocial .nav-item {
  margin-bottom: 10px;
}
.navSocial .nav-item a.social-icon {
  font-size: 16px;
}

.list-items .list-item p > span {
  display: inline-block;
}
.list-items .list-item p > span.menu_ico {
  width: 20px;
  height: 10px;
  margin-right: 5px;
}
.list-items .list-item p > span.menu_ico img {
  display: block;
}

.box-lightbox .food_ordering_options h4 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 1px;
}

.info_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}
.info_wrapper .menu_ico {
  width: 25px;
}
.info_wrapper .menu_ico img {
  max-width: 100%;
}
.info_wrapper span {
  margin: auto 0;
}
.info_wrapper span:nth-child(2n) {
  margin-right: 15px;
}

.content .founder_img {
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(51, 51, 51, 0.3607843137);
}

.special_menu_wrapper h1 {
  font-weight: 600;
}
.special_menu_wrapper h4 {
  font-weight: 500;
}
.special_menu_wrapper .title {
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color: #e39a1b;
}
.special_menu_wrapper h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.special_menu_wrapper .brev_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.special_menu_wrapper .brev_item h5 {
  width: 80%;
  margin-bottom: 5px;
  text-align: left;
}
.special_menu_wrapper .brev_item p {
  width: 10%;
  margin-bottom: 5px;
}

.our_menu .our_menu_col {
  margin-bottom: 70px;
}
.our_menu .our_menu_col.left {
  padding-right: 30px;
}
.our_menu .our_menu_col .heading {
  margin-bottom: 28px;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
}
.our_menu .our_menu_col .heading h3 {
  font-family: "Satisfy", cursive;
  color: #e39a1b;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.our_menu .our_menu_col .heading .icon {
  width: 40px;
  background: #e39a1b;
}
.our_menu .our_menu_col .heading .icon.smallPlate {
  -webkit-mask: url("../img/smallplate.svg") no-repeat;
          mask: url("../img/smallplate.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}
.our_menu .our_menu_col .heading .icon.mainCourse {
  -webkit-mask: url("../img/maincourse.svg") no-repeat;
          mask: url("../img/maincourse.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}
.our_menu .our_menu_col .heading .icon.drink {
  -webkit-mask: url("../img/drink.svg") no-repeat;
          mask: url("../img/drink.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}
.our_menu .our_menu_col .heading .icon.dessert {
  -webkit-mask: url("../img/dessert.svg") no-repeat;
          mask: url("../img/dessert.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
}
.our_menu .our_menu_col .body .menu_item {
  margin-bottom: 24px;
}
.our_menu .our_menu_col .body .menu_item h5 {
  margin-bottom: 9px;
  color: #484848;
  font-weight: 400;
  display: flex;
}
.our_menu .our_menu_col .body .menu_item h5 a {
  color: #484848;
  float: left;
}
.our_menu .our_menu_col .body .menu_item h5 span.dots {
  flex-grow: 1;
  border-bottom: 1px dotted;
  transform: translateY(-6px);
}
.our_menu .our_menu_col .body .menu_item h5 span.price span {
  float: left;
}
.our_menu .our_menu_col .body .menu_item p {
  display: flex;
  flex-wrap: wrap;
}

.white .hero_btn {
  float: left;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e39a1b;
  color: #fff !important;
  font-weight: 600;
  font-size: 16px;
  transition: all 200ms linear;
}
.white .hero_btn:hover {
  background: #fff;
  color: #666 !important;
  border-color: transparent;
}

.fl_btn {
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  color: #fff;
  margin-top: 15px;
  background: #292929;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 200ms linear;
}
.fl_btn:hover {
  background: #e39a1b;
  color: #fff;
  border-color: transparent;
}

.special_menu_drinks .wrap {
  border: 1px solid transparent;
  padding: 25px 15px;
  background: rgba(227, 154, 27, 0.04);
  box-shadow: 1px 1px 18px 2px #efefef;
}
.special_menu_drinks .wrap .our_menu_col {
  margin-bottom: 50px;
}
.special_menu_drinks .wrap .our_menu_col.left {
  padding-right: 30px;
}
.special_menu_drinks .wrap .our_menu_col .heading {
  margin-bottom: 28px;
  padding-left: 5px;
  display: flex;
  justify-content: center;
}
.special_menu_drinks .wrap .our_menu_col .heading h3 {
  color: #e39a1b;
  font-size: 30px;
  font-weight: 400;
  text-transform: capitalize;
}
.special_menu_drinks .wrap .our_menu_col .body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item {
  margin-bottom: 24px;
  width: 45%;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item h5 {
  margin-bottom: 9px;
  color: #484848;
  font-weight: 400;
  display: flex;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item h5 a {
  color: #484848;
  float: left;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item h5 span.dots {
  flex-grow: 1;
  border-bottom: 1px dotted;
  transform: translateY(-6px);
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item h5 span.price {
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-image: linear-gradient(to right, #f1c761 10%, #f1c761 90%);
  background-position: 46% 48%;
  background-size: 100% 35%;
  display: inline-table;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0 8px;
  font-weight: 700;
  font-size: 18px;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item h5 span.price span {
  float: left;
}
.special_menu_drinks .wrap .our_menu_col .body .menu_item p {
  display: flex;
  flex-wrap: wrap;
}

.privateDining_wrapper .header {
  padding: 0 65px;
}
.privateDining_wrapper .header .title {
  font-size: 28px;
  text-transform: uppercase;
}
.privateDining_wrapper .header .subTitle {
  font-size: 18px;
  text-transform: none;
}
.privateDining_wrapper .body {
  text-align: center;
  box-sizing: border-box;
  padding: 0 65px;
}
.privateDining_wrapper .body h3 {
  font-size: 20px;
}
.privateDining_wrapper .body p {
  margin-bottom: 20px;
}
.privateDining_wrapper .body p a {
  color: #e39a1b;
}
.privateDining_wrapper .body p a:hover {
  border-bottom: 1px solid #e39a1b;
}
.privateDining_wrapper .body .img_container img {
  max-width: 100%;
}
.privateDining_wrapper .group_8_sec {
  text-align: center;
  box-sizing: border-box;
  padding: 20px 65px;
  border-bottom: 1px solid rgb(156, 156, 156);
}
.privateDining_wrapper .group_8_sec .title {
  font-size: 26px;
}
.privateDining_wrapper .group_8_sec p {
  font-size: 15px;
}
.privateDining_wrapper .dining_menu {
  text-align: center;
  box-sizing: border-box;
  padding: 20px 65px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
.privateDining_wrapper .dining_menu:last-child {
  border: none;
}
.privateDining_wrapper .dining_menu .header {
  margin-bottom: 20px;
}
.privateDining_wrapper .dining_menu .header .title {
  font-size: 26px;
  color: #e39a1b;
}
.privateDining_wrapper .dining_menu .header p {
  font-size: 15px;
}
.privateDining_wrapper .dining_menu .body .menu_category .head {
  text-transform: capitalize;
  font-size: 28px;
  font-family: "Satisfy", cursive;
  color: #e39a1b;
}
.privateDining_wrapper .dining_menu .body .menu_category .head::after {
  content: "";
  height: 2px;
  background: #e39a1b;
  width: 7%;
  display: flex;
  margin: 0 auto;
}
.privateDining_wrapper .dining_menu .body .menu_category .menu .item {
  font-size: 18px;
  text-transform: uppercase;
}
.privateDining_wrapper .dining_menu .body .menu_category .menu .item span {
  color: #ffa70e;
}
.privateDining_wrapper .dining_menu .body .menu_category .menu h5 {
  font-size: 15px;
  text-transform: capitalize;
}
.privateDining_wrapper .get_in_touch_container .form_header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.privateDining_wrapper .get_in_touch_container .form_header .title {
  font-size: 30px;
}
.privateDining_wrapper .get_in_touch_container .form_header p {
  font-size: 14px;
}
.privateDining_wrapper .get_in_touch_container .form_wrapper {
  width: 600px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  box-shadow: 1px 1px 6px #efefef;
  padding: 30px;
}
.privateDining_wrapper .get_in_touch_container .form_wrapper sup {
  color: red;
}
.privateDining_wrapper .get_in_touch_container .form_wrapper .error {
  font-size: 12px;
  color: red;
  text-transform: capitalize;
}

footer h1 {
  font-size: 20px;
  font-weight: 700;
}
footer ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer ul li {
  list-style-type: none;
}/*# sourceMappingURL=custom.css.map */